.bg-img1 {
  width: 100%;
  background-image: url(../../assets/images/Background.jpg);
  margin-right: 75px;
}

.hero {
  width: 100%;
  padding: 129px 0px;
}

.hero h1 {
  width: 61.8%;
  font-size: 82px;
  font-weight: bolder;
  color: var(--color-green);
  text-transform: uppercase;
}

.hero .description {
  width: 30%;
  padding: 50px 0px;
}

.hero button {
height: 100%;
  background-color: var(--color-orange);
  color: white;
}

.hero button:hover {
  background-color: var(--color-orange-hover);
  box-shadow: 0px 4px 30px 0px #f580214d;
}
