:root {
  --color-black: #000000;
  --color-blue: #20113d;
  --color-white: #ffffff;
  --color-orange: #f58021;
  --color-green: #00a092;

  --color-orange-hover: #d26004;
  --color-blue-hover: #20113d;
  --color-green-hover: #05786e;
  --color-green-hover-2: #80cfc8;

  --bp-1200: 1200px;
  --bp-640: 640px;
  --bp-320: 320px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  width: 72.91%;
  margin: auto;
}
