:root {
  --color-black: #000000;
  --color-blue: #20113d;
  --color-white: #ffffff;
  --color-orange: #f58021;
  --color-green: #00a092;
  --color-orange-hover: #d26004;
  --color-green-hover-2: #80cfc8;
  --color-green-hover: #05786e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: var(--color-black);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1,
h2 {
  color: var(--color-green);
  text-transform: uppercase;
}

h2 {
  font-weight: 600;
  font-size: 54px;
  line-height: 100%;
}

p {
  line-height: 150%;
}

button {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  background-color: var(--color-orange);
  font-weight: 600;
}

header .container,
header .right-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .right-side {
  width: 60%;
}

header nav {
  width: 70%;
}

header ul {
  display: flex;
  justify-content: space-between;
}

header .social-icons {
  display: flex;
  gap: 30px;
}

header .social-icons img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}

header .social-icons img:hover {
  transform: scale(1.1);
}

header a:hover {
  color: var(--color-green-hover);
}

/* Footer */

.footer {
  background-color: var(--color-blue);
  color: var(--color-white);
  padding-top: 82px;
  padding-bottom: 36px;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.footer-logos {
  display: flex;
  align-items: center;
  gap: 65px;
}

.footer-logos img {
  height: auto;
  max-width: 130px;
}

.footer-nav ul {
  display: flex;
  gap: 46px;
}

.footer-nav a {
  font-weight: 600;
  font-size: 18px;
  transition: 0.3s;
}

.footer-divider {
  border: none;
  height: 1px;
  background-color: var(--color-white);
  margin-bottom: 44px;
  margin-top: 70px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyrights {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;

  display: flex;
  gap: 30px;
  opacity: 0.7;
}

.footer-socials {
  display: flex;
  gap: 40px;
}

.footer-socials img {
  width: 40px;
  transition: 0.3s;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 26px 45px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn-orange:hover,
.btn-box:hover,
.feed-link:hover {
  background-color: var(--color-orange-hover);
  box-shadow: 0px 4px 30px 0px rgba(245, 128, 33, 0.3);
}

.btn-outline-white {
  background: transparent;
  border: 1px solid var(--color-white);
  color: var(--color-white);
}

/* --- ADAPTIVE (Tablet 640px) --- */
@media (max-width: 940px) {
  .footer-main {
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }

  .footer-info {
    flex-direction: column-reverse;
    gap: 30px;
  }
}

@media (max-width: 640px) {
  .footer {
    padding: 40px 0;
  }

  .footer-logos {
    flex-direction: column;
    gap: 20px;
  }

  .footer-nav ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 30px;
  }

  .copyrights {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

/* Hovers */
.pets-arrows .arrow-btn:hover {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
  cursor: pointer;
}

.btn-outline-white:hover {
  background: var(--color-green-hover);
  background-color: var(--color-green-hover);
}

header nav ul li a.active {
  color: var(--color-green-hover);
}

.d-none {
  display: none !important;
}
