.zoos-main-container {
  display: flex;
  align-items: flex-start;
}

.side-panel--large {
  transform: translateX(-100%);
  transition: transform 0.4s ease;
}

.side-panel--large.active {
  transform: translateX(0);
}

.animal-item.sidebar-hidden {
  display: none;
}

.animal-item.sliding-in {
  animation: slideDown 0.35s ease forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.side-panel {
  width: 220px;
  height: 846px;
  background-color: var(--color-blue);
  transition: width 0.4s ease;
  position: absolute;
  flex-shrink: 0;
  overflow: hidden;
  z-index: 100;
}

.side-panel--large {
  width: 300px;
  height: 946px;
}

.side-panel--large .animal-list img {
  width: 100%;
}

.side-panel--large .animal-item a {
  width: 66px;
  padding: 0 0;
}

.side-panel--large .animal-content {
  padding: 51px 17px 51px 27px;
  display: flex;
  align-items: center;
  gap: 21px;
}

.animal-item {
  border-top: 1px solid white;
}

.side-panel.collapsed {
  width: 100px;
}

.side-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px;
}

.live-badge {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-white);
  background-color: var(--color-orange);
  font-weight: 700;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border-bottom: 5px;
}

.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.side-panel .animal-nav-bottom {
  display: flex;
  margin: auto;
  justify-content: center;
  border-top: 1px solid white;
  padding-top: 36px;
  cursor: pointer;
}

.animal-list {
  list-style: none;
  padding: 0;
}
.animal-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 26px 50px;
  transition: 0.3s;
}

.icon-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: var(--color-orange);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.icon-circle img {
  width: 80px;
  height: 60px;
}

.animal-item.active .icon-circle {
  background-color: var(--color-blue);
  background-image: url(../../assets/icons/circle-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.animal-desc {
  color: var(--color-white);
  font-size: 14px;
  line-height: 1.4;
  width: 220px;
  transition: 0.3s;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}

.side-panel.collapsed .animal-info {
  opacity: 0;
  visibility: hidden;
}

.side-panel--small {
  transform: translateX(0);
  z-index: 2;
}

.side-panel--large {
  transform: translateX(-100%);
  z-index: 1000;
}

.side-panel--large.active {
  transform: translateX(0);
}

.side-panel--large .animal-list svg {
  color: #f58021;
}

.video-content {
  padding: 40px 0;
  flex-grow: 1;
}

.video-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
}

.zoos-title {
  color: var(--color-green);
  font-size: 54px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.btn-orange {
  background-color: var(--color-orange);
  color: var(--color-white);
  padding: 26px 30px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: 0;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.video-main-wrapper {
  position: relative;
  width: 100%;
  height: 787px;
  overflow: hidden;
  background: #000;
}

.video-bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-player-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.video-title-overlay {
  position: absolute;
  top: 12px;
  left: 16px;
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  margin: 0;
}
.play-btn-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  cursor: pointer;
}

.video-watermark {
  position: absolute;
  bottom: 85px;
  right: 30px;
  width: 105px;
}

.video-controls-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding-bottom: 10px;
  margin: auto;
}

.video-timeline {
  width: 100%;
  height: 4px;
  background: var(--color-orange);
  margin-bottom: 15px;
}

.controls-content {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.controls-left,
.controls-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.ctrl-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
}

.live-status {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 10px;
}

.live-dot {
  width: 8px;
  height: 8px;
  background: var(--color-orange);
  border-radius: 50%;
}

.live-text {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.more-live-views {
  margin-top: 60px;
}

.more-live__carousel-viewport {
  overflow: hidden;
  flex: 1;
}

.sub-title {
  font-size: 42px;
  font-weight: 500;
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center;
}

.video-slider {
  display: flex;
  align-items: center;
  gap: 20px;
}

.video-previews {
  display: flex;
  gap: 20px;
}

.preview-item img {
  width: 300px;
  border-radius: 5px;
  cursor: pointer;
}

.preview-item.active img {
  border: 2px solid var(--color-orange);
}

.slider-arrow {
  background: none;
  border: none;
  cursor: pointer;
}

.did-you-know {
  margin-top: 60px;
  display: flex;
  background: #fff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
  padding: 40px;
  gap: 40px;
  border-radius: 20px;
}

.fact-text h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.fact-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.fact-list li {
  margin-bottom: 10px;
}

.fact-image img {
  width: 300px;
  border-radius: 15px;
}

.more-live {
  padding: 60px 0;
  text-align: center;
}

.more-live__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 130%;
  color: var(--color-navy);
  margin-bottom: 40px;
  text-transform: uppercase;
}

.more-live__slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.more-live__carousel {
  display: flex;
  gap: 30px;
}

.live-card {
  position: relative;
  width: 320px;
  height: 209px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
}

.live-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.live-card_active {
  border: 2px solid var(--color-orange);
}

.live-card_active .live-card__img {
  filter: grayscale(0%);
}

.live-card__badge {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  padding: 6px 40px;
  color: #fff;
  font-size: 26px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom-right-radius: 5px;
}

.live-card__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  opacity: 0.8;
  cursor: pointer;
}

.live-card:hover .live-card__play {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.1);
}

.slider-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: opacity 0.2s;
}

.slider-btn:hover {
  opacity: 0.6;
}

.donation-banner {
  width: 100%;
  background-color: var(--color-blue);
  color: var(--color-white);
  margin-top: 150px;
}

.donation-banner .left-side {
  width: 69%;
}

.donation-banner .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
}

.donation-banner h3 {
  font-size: 42px;
  font-weight: 500;
  text-transform: uppercase;
}

.donation-banner .description {
  margin-top: 20px;
}

.donation-banner .subheader {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 10px;
}

.btn-container {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-white);
  border-radius: 5px;
  min-width: 320px;
  cursor: pointer;
  overflow: hidden;
}

.btn-container p {
  flex: 1;
  margin-left: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-orange);
  margin-left: 14px;
  width: 80px;
  height: 74px;
  border: none;
  cursor: pointer;
}

/* Facts section */
.facts {
  padding-bottom: 100px;
}

.facts__intro {
  box-shadow: 0px 4px 50px 0px #00000040;
  border-radius: 5px;
  padding: 40px 60px;
  max-width: 74.28%;
  text-align: center;
  margin: 150px auto;
}

.facts__intro-title {
  color: var(--color-green);
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 20px;
}

.facts__intro-text {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
}

.facts__main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 60px;
  gap: 40px;
}

.facts__info {
  flex: 1;
}

.facts__list {
  padding: 0;
}

.facts__list li {
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 25px;
  gap: 20px;
  color: #333;
  display: flex;
  align-items: baseline;
  font-weight: 400;
}

.facts__list strong {
  font-weight: 500;
  font-size: 26px;
}

.position {
  position: absolute;
}

.view-map-link {
  color: var(--color-orange);
  text-decoration: none;
  font-weight: 600;
  margin-left: 16px;
  padding: 0px 44px;
  display: inline-flex;
  align-items: center;
  gap: 11px;
  transition: opacity 0.2s;
}

.view-map-link:hover {
  opacity: 0.7;
}

.fact-image {
  width: 440px;
  height: 440px;
}

.facts__image img {
  width: 100%;
  object-fit: cover;
}

.facts__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
}

@media (max-width: 1200px) {
  .zoos-main-container {
    width: 100%;
  }

  .zoos-title {
    margin-right: 70px;
  }
  .more-live {
    padding: 0px 0px;
  }

  .donation-banner .container {
    align-items: flex-start;
    max-width: 1120px !important;
    padding: 50px 0px !important;
  }

  .facts__intro {
    margin: 100px auto;
  }

  .donation-banner .left-side {
    width: 100%;
  }

  .zoos-main-container .btn-orange {
    padding: 17px 34px;
  }
  .video-content {
    margin-left: 135px;
    margin-right: 0px !important;
  }
  .live-badge {
    display: none;
  }
  .side-header {
    justify-content: center;
  }
  .icon-circle {
    width: 100px;
    height: 100px;
  }
  .side-panel--small {
    width: 115px;
  }

  .animal-item.active .icon-circle {
    display: none;
  }

  .icon-circle {
    background-color: var(--color-blue);
  }
  .icon-circle img {
    filter: brightness(0) invert(1);
  }
}

@media (max-width: 640px) {
  .video-main-wrapper {
    height: 450px;
  }
  .side-panel--small {
    z-index: 10000;
  }
  .video-content {
    margin: 0 !important;
  }

  .zoos-main-container .btn-orange {
    display: none !important;
  }

  .btn-bottom {
    display: block;
  }

  .donation-banner .container,
  .donation-banner .right-side {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .donation-banner h3,
  .donation-banner .description {
    text-align: center;
  }

  .donation-banner .description {
    margin: 30px 20px;
  }

  .facts__intro {
    max-width: 100%;
    margin: 80px 0px;
  }

  .facts__main {
    flex-direction: column-reverse;
  }

  .facts__image {
    width: 100%;
  }

  .facts__main {
    gap: 80px;
  }

  .facts__description {
    margin-top: 30px;
  }

  .sub-title {
    font-size: 26px;
    text-transform: lowercase;
  }

  .live-card {
    width: 135px;
    height: 106px;
  }

  .live-card__badge {
    font-size: 11px !important;
    padding: 3px 20px;
  }

  .live-card__play img {
    width: 40px;
    height: 18px;
  }

  .btn-bottom {
    display: block !important;
  }
}
